/***
 * * Bclass animations v1.1.0
 * * Copyright 2021 ("https://github.com/EW-EndWall/bClass-animations/blob/main/LICENSE")
 * * Licensed ("Bik Public License 2.0")
 * * License Update ("03/28/2024")
*/
/* * animations close */
.animate-none *,
.animate-none,
.hover\:animate-none:hover {
  animation: none !important;
  transition: none !important;
}
/* * animations paused*/
.animate-paused,
.animate-paused *,
.hover\:animate-paused:hover,
.hover\:animate-paused:hover * {
  animation-play-state: paused;
}
/* * */
.infinite {
  animation-iteration-count: infinite !important;
}
.forwards {
  animation-fill-mode: forwards !important;
}
/* * timing function */
.linear {
  animation-timing-function: linear;
  transition-timing-function: linear;
}
.ease {
  animation-timing-function: ease;
  transition-timing-function: ease;
}
.ease-in {
  animation-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.ease-out {
  animation-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.ease-in-out {
  animation-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.steps-6-end {
  animation-timing-function: steps(6, end);
  transition-timing-function: steps(6, end);
}
.cubic-bezier {
  animation-timing-function: cubic-bezier(0.29, 1.01, 1, -0.68);
  transition-timing-function: cubic-bezier(0.29, 1.01, 1, -0.68);
}
/* * animation delays */
.animate-delay-1 {
  animation-delay: 1s;
}
.animate-delay-2 {
  animation-delay: 2s;
}
.animate-delay-3 {
  animation-delay: 3s;
}
.animate-delay-4 {
  animation-delay: 4s;
}
.animate-delay-5 {
  animation-delay: 5s;
}
/* * animation duration */
.animate-duration-0\.1 {
  animation-duration: 0.1s;
}
.animate-duration-0\.2 {
  animation-duration: 0.2s;
}
.animate-duration-0\.3 {
  animation-duration: 0.3s;
}
.animate-duration-0\.4 {
  animation-duration: 0.4s;
}
.animate-duration-0\.5 {
  animation-duration: 0.5s;
}
.animate-duration-0\.6 {
  animation-duration: 0.6s;
}
.animate-duration-0\.7 {
  animation-duration: 0.7s;
}
.animate-duration-0\.8 {
  animation-duration: 0.8s;
}
.animate-duration-0\.9 {
  animation-duration: 0.9s;
}
.animate-duration-1 {
  animation-duration: 1s;
}
.animate-duration-2 {
  animation-duration: 2s;
}
.animate-duration-3 {
  animation-duration: 3s;
}
.animate-duration-4 {
  animation-duration: 4s;
}
.animate-duration-5 {
  animation-duration: 5s;
}
.animate-duration-6 {
  animation-duration: 6s;
}
.animate-duration-7 {
  animation-duration: 7s;
}
.animate-duration-8 {
  animation-duration: 8s;
}
.animate-duration-9 {
  animation-duration: 9s;
}
.animate-duration-10 {
  animation-duration: 10s;
}
.animate-duration-15 {
  animation-duration: 15s;
}
.animate-duration-20 {
  animation-duration: 20s;
}
.animate-duration-25 {
  animation-duration: 25s;
}
.animate-duration-30 {
  animation-duration: 30s;
}
.animate-duration-35 {
  animation-duration: 35s;
}
.animate-duration-40 {
  animation-duration: 40s;
}
.animate-duration-45 {
  animation-duration: 45s;
}
.animate-duration-50 {
  animation-duration: 50s;
}
.animate-duration-55 {
  animation-duration: 55s;
}
.animate-duration-60 {
  animation-duration: 60s;
}
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* * animations transition */
.transition-none,
.hover\:transition-none {
  transition: none;
}
.transition-all,
.hover\:transition-all {
  transition: all 1s ease;
}
.transition-color,
.hover\:transition-color {
  transition: color, background-color, border-color, text-decoration-color, fill,
    stroke 1s ease;
}
.transition-opacity,
.hover\:transition-opacity {
  transition: opacity 1s ease;
}
.transition-shadow,
.hover\:transition-shadow {
  transition: box-shadow 1s ease;
}
.transition-transform,
.hover\:transition-transform {
  transition: transform 1s ease;
}
.transition-margin,
.hover\:transition-margin {
  transition: margin 1s ease;
}
/* * transition delay */
.transition-delay-0 {
  transition-delay: 0;
}
.transition-delay-10 {
  transition-delay: 0.1s;
}
.transition-delay-25 {
  transition-delay: 0.25s;
}
.transition-delay-50 {
  transition-delay: 0.5s;
}
.transition-delay-75 {
  transition-delay: 0.75s;
}
.transition-delay-100 {
  transition-delay: 1s;
}
/* * transition duration */
.transition-duration-0\.5 {
  transition-duration: 0.5s;
}
.transition-duration-1 {
  transition-duration: 1s;
}
.transition-duration-1\.5 {
  transition-duration: 1.5s;
}
.transition-duration-2 {
  transition-duration: 2s;
}
.transition-duration-3 {
  transition-duration: 3s;
}
.transition-duration-4 {
  transition-duration: 4s;
}
.transition-duration-5 {
  transition-duration: 5s;
}
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* * animation hover */
@keyframes upAnimate {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes leftAnimate {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes downAnimate {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rightAnimate {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* * up */
.animate-up,
.hover\:animate-up:hover {
  animation: upAnimate 1s linear;
}
/* * hover-up */
.animate-hover-up {
  opacity: 0;
  transform: translateY(1rem);
  transition: all 1s ease;
}
.animate-hover-up:hover {
  opacity: 1;
  transform: translateY(0);
}
/* * left */
.animate-left,
.hover\:animate-left:hover {
  animation: leftAnimate 1s linear;
}
/* * hover-left */
.animate-hover-left {
  opacity: 0;
  transform: translateY(-1rem);
  transition: all 1s ease;
}
.animate-hover-left:hover {
  opacity: 1;
  transform: translateX(0);
}
/* * down */
.animate-down,
.hover\:animate-down:hover {
  animation: downAnimate 1s linear;
}
/*  */
.animate-down-hover {
  opacity: 0;
  transform: translateY(0);
  transition: all 1s ease;
}
.animate-down-hover:hover {
  opacity: 1;
  transform: translateY(1rem);
}
/* * right */
.animate-right,
.hover\:animate-righ:hover {
  animation: rightAnimate 1s linear;
}
/* * animation-hover-right */
.animate-hover-right {
  opacity: 0;
  transform: translateX(1rem);
  transition: all 1s ease;
}
.animate-hover-right:hover {
  opacity: 1;
  transform: translateX(0);
}
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* * slide animations */
@keyframes slideRightAnimate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideLeftAnimate {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes slideUpAnimate {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes slideDownAnimate {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
/* * animation slide  */
.animate-slide-right {
  animation: slideRightAnimate 10s linear;
}
.animate-slide-left {
  animation: slideLeftAnimate 10s linear;
}
.animate-slide-up {
  animation: slideUpAnimate 10s linear;
}
.animate-slide-down {
  animation: slideDownAnimate 10s linear;
}
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* * animation opacity */
@keyframes opacitySharpAnimate-0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacitySharpAnimate-0-5 {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacitySoftAnimate-0 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacitySoftAnimate-0-5 {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
/* * infinite */
.animate-opacity-sharp-full,
.hover\:animate-opacity-sharp-full:hover {
  animation: opacitySharpAnimate-0 1s linear;
}
.animate-opacity-sharp-half,
.hover\:animate-opacity-sharp-half:hover {
  animation: opacitySharpAnimate-0-5 1s linear;
}
.animate-opacity-soft-full,
.hover\:animate-opacity-soft-full:hover {
  animation: opacitySoftAnimate-0 1s linear;
}
.animate-opacity-soft-half,
.hover\:animate-opacity-soft-half:hover {
  animation: opacitySoftAnimate-0-5 1s linear;
}
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* * animation rotate */
@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-rotate-l {
  animation: rotate-left 1s linear;
}
.animate-rotate-r {
  animation: rotate-right 1s linear;
}
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* * animation items models */
.animate-items-m-1 > * {
  transition: all 0.5s ease;
}
.animate-items-m-1 .animate-items-hovered-m-1 {
  transform: scale(1.2);
  filter: blur(0);
}
.animate-items-m-1 .animate-items-not-hovered-m-1 {
  filter: blur(3px);
}
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
